# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Environment
.env
!.env.example
key.properties
!key.properties.example
upload-keystore.jks

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release
